@import "tailwindcss";

/* Animations ko theme tokens ke andar rakho */
@theme {
  --animate-wave: waveMove 6s linear infinite;

  @keyframes waveMove {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}


/* Container utility (responsive paddings with apply) */
.\view,
.view {
  @apply px-4 w-full mx-auto 
    min-[640px]:px-12 
    min-[768px]:px-16 
    min-[1024px]:px-20 
    min-[1280px]:px-20 
    min-[1536px]:px-20;
}

/* Global body styles */
body {
  @apply bg-[var(--background)] text-[var(--foreground)] leading-[normal];
}
