@import "tailwindcss";

@theme {
  --animate-progress-circle: progressCircle 3s 1s ease-out forwards;

  @keyframes progressCircle {
    0% {
      stroke-dashoffset: 251.2;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
}

@layer utilities {
  @keyframes waveMove {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-wave {
    animation: waveMove 6s linear infinite;
  }
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.\!view,
.view {
  padding-inline: 1rem;
  width: 100%;

  /* Define responsive max-width */
  @media (min-width: 640px) {
    padding-inline: 3rem;
  }
  @media (min-width: 768px) {
    padding-inline: 4rem;
  }
  @media (min-width: 1024px) {
    padding-inline: 5rem;
  }
  @media (min-width: 1280px) {
    padding-inline: 5rem;
  }
  @media (min-width: 1536px) {
    padding-inline: 5rem;
  }

  margin-inline: auto;
}

body {
  background: var(--background);
  color: var(--foreground);
  line-height: normal;
}
